<section class='wrapper'>
  <h1 class='page-header'>Create New Event:</h1>

<form action='/events' method='POST'>
  <span>Event Name: </span>
  <input type='text' name='name' placeholder='event name'/><br/>

  <span>Description: </span>
  <input type='text' name='description' placeholder='description'/><br/>

  <span>Date: </span>
  <input type='text' name='date' placeholder='date'/><br/>

  <span>Start Time: </span>
  <input type='text' name='startTime' placeholder='start time'/><br/>

  <span>End Time: </span>
  <input type='text' name='endTime' placeholder='endTime'/><br/>

  <span>Calendar: </span>
  <input type='text' name='calendarName' placeholder='calendar name'/><br/>

  <button type='submit'>Add</button>
</form>
</section>
