

<header class="page-header">
  <h1>Edit event: {{ event.name }}, {{ event.userId }}</h1>
</header>


<form action="/events/{{ event.id }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <h2>event Info</h2>
  <div class="form-group">
    <label for="user_fname">Name</label>
    <input type="text" class="form-control" name="event[name]" id="event_name" value="{{ event.name }}">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
