<header class="page-header">
  <h1>New Event</h1>
</header>

<form action="/events" method="post">
  <div class="form-group">
    <label for="event_name">Name</label>
    <input type="text" class="form-control" name="event[name]" id="event_name">
  </div>
  <div class="form-group">
    <label for="event_date">Date</label>
    <input type="date" class="form-control" name="event[date]" id="event_date">
  </div>
  <div class="form-group">
    <label for="event_start">Start Time</label>
    <input type="time" class="form-control" name="event[start]" id="event_start">
  </div>
  <div class="form-group">
    <label for="event_end">End Time</label>
    <input type="time" class="form-control" name="event[end]" id="event_end">
  </div>
  <div class="form-group">
    <label for="event_calendar">Calendar</label>
    <input type="text" class="form-control" name="event[calendar]" id="event_calendar">
  </div>
  <div class="form-group">
    <label for="event_description">Description</label>
    <textarea class="form-control" rows="3" name="event[description]" id="event_description"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Event</button>
  </div>
</form>
