<nav class="nav">
  <!-- <h1> -->
    <!-- <a href="/">Calendar Event Planner</a> -->
  <!-- </h1> -->

<a class="nav-link active" href="/">Calendar Event Planner</a>
  <a class="nav-link active" href="/users">Users</a>
  <!-- <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a> -->
</nav>
