<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar Event Planner App</title>
    <link rel='stylesheet' href='/styles/reset.css'>
    <link rel='stylesheet' href='/styles/style.css'>
  </head>
  <body>

    <header class='wrapper'>
      <h2>Calendar Event Planner App</h2>
      <span><a href='/'>Users</a></span>
    </header>

    {{{body}}}

  </body>
</html>
