<section class='wrapper'>
  <h1 class='page-header'>Create New User:</h1>

<form action='/users' method='POST'>
  <span>First Name: </span>
  <input type='text' name='firstName' placeholder='first name'/><br/>

  <span>Last Name: </span>
  <input type='text' name='lastName' placeholder='last name'/><br/>

  <span>Username: </span>
  <input type='text' name='username' placeholder='username'/><br/>

  <span>Email: </span>
  <input type='email' name='email' placeholder='email'/><br/>

  <button type='submit'>Add</button>
</form>
</section>
