<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <navbar>
    <a class="navbar-brand" href="/">Home</a>
  </navbar>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
