<h2>New User</h2>

<div class="container">
  <form action="/users/new" method="post">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input name="firstname" type="text" class="form-control" id="firstname" placeholder="put first name">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input name="lastname" type="text" class="form-control" id="lastname" placeholder="put last name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control" id="username" placeholder="put username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="put email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
