<div class="row">
  <div class="col-sm-2">First Name</div>
  <div class="col-sm-2">Last Name</div>
  <div class="col-sm-2">Username</div>
  <div class="col-sm-2">Email</div>
  <div class="col-sm-2">Edit</div>
  <div class="col-sm-2">Delete</div>
</div>
