<section class='wrapper'>
  <h1 class='page-header'>Create New Calendar:</h1>

<form action='/calendars' method='POST'>
  <span>Calendar Name: </span>
  <input type='text' name='calendarName' placeholder='calendar name'/><br/>

  <span>Username: </span>
  <input type='text' name='username' placeholder='username'/><br/>

  <button type='submit'>Add</button>
</form>
</section>
