<h2>Create New Calendar</h2>

<form action="/calendars" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="userId">User Id:</label>
    <select name="userId">
      {{#each userIds as |userId|}}
        <option value="{{userId}}">{{userId}}</option>
      {{/each}}
    </select>
  </div>





  <button type="submit" class="btn btn-default">Submit</button>
</form>
