<h2>Create New User</h2>

<form action="/users" method="post">
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" class="form-control" id="firstName" name="firstname">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" class="form-control" id="lastName" name="lastname">
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
    <!-- <input type="email" class="form-control" id="email" name="user[email]"> -->
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
