<div class="container">
  <div class="row">
    <h3>New User</h3>
  </div>
  <div class="row">
    <form action="/user/new" method="post">
      <p>First Name <input name="user[fname]" type="text"></p>
      <p>Last Name <input name="user[lname]" type="text"></p>
      <p>Username <input name="user[username]" type="text"></p>
      <p>Email <input name="user[email]" type="text"></p>
      <button type="submit" class="btn">Create User</button>
    </form>
  </div>
</div>
